

<div class="container">
  <div class="col-md-6  offset-md-3"><br><br>
  <div class="card" style="width: 50rem;">
    <div class="card-header text-center">
      <h2> TOTAL COST </h2>
    </div>
    <ul class="list-group list-group-flush text-center"  >
     <label><b>Service Cost</b></label> <li class="list-group-item">{{listCost[0]}}</li>
      <label><b> Range Cost</b></label> <li class="list-group-item">{{listCost[1]}}</li>
      <label><b> Total Cost</b></label> <li class="list-group-item">{{listCost[2]}}</li>

    </ul>
  </div>
  </div>
</div>
